body {
    background-image: url("media/background.gif");
    font-family: 'REM', sans-serif;
    background-repeat: no-repeat;
    background-color: black;
    background-position-x: center;
    animation: showBG 3.7s forwards;
}
.loading {
    opacity: 100%;
    animation: hideDiv 3s forwards;
    max-width: 200px;
    max-height: 200px;
    transform: translate(0,120px);
}

hidden {
    opacity: 0%;
    animation: showDiv 3.7s forwards;
    color: white;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.socials {
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 30px;
    display: inline-block;
    border-radius: 20px;
    background-color: #2b2b2b88;
    box-shadow: 0px 0px 20px #000000;
}
@keyframes hideDiv {
    0%,
    50% {
        opacity: 100%;
        max-width: 999px;
    }
    99% {
        opacity: 0%;
        max-width: 999px;
    }
    100% {
        opacity: 0%;
        max-width: 0px;
    }
}
@keyframes showDiv {
    0%,
    80% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes showBG {
    0%,
    60% {
        background-position-y: +6000px;
    }
    100% {
        background-position-y: auto;
    }
}
.telegram {
    transition: 0.5s;
    display: inline-block;
    border: 2px solid #0f95e2;
    border-radius: 5px;
    padding: 10px;
    background-color: #126291;
    box-shadow: 0px 0px 20px #0f95e2;
}
.telegram:hover {
    transform: scale(1.2);
    border-radius: 20px;
    background-color: #147bb6;
}
.zelenka {
    transition: 0.5s;
    display: inline-block;
    border: 2px solid #2BAD72;
    border-radius: 5px;
    padding: 10px;
    background-color: #17573a;
    box-shadow: 0px 0px 20px #2BAD72;
}
.zelenka:hover {
    transform: scale(1.2);
    border-radius: 20px;
    background-color: #288d60;
}
.captchagame {
    transition: 0.5s;
    display: inline-block;
    border: 2px solid #222222;
    border-radius: 5px;
    padding: 10px;
    background-color: #444444;
    box-shadow: 0px 0px 20px #000000;
}
.captchagame:hover {
    transform: scale(1.2);
    border-radius: 20px;
    background-color: #5c5c5c;
}
.OTS {
    font-size: 10px;
    color: #00000000;
}
@media(max-width: 1200px){
    body {
        background-image: url("media/background.gif");
        font-family: 'REM', sans-serif;
        background-repeat: no-repeat;
        background-color: black;
        background-position-x: center;
        animation: showBG 3.7s forwards;
    }
    .loading {
        opacity: 100%;
        animation: hideDiv 3s forwards;
        transform: translate(0,120px);
    }

    hidden {
        opacity: 0%;
        animation: showDiv 3.7s forwards;
        color: white;
    }
    a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    .socials {
        border: 2px solid rgba(0, 0, 0, 0);
        padding: 70px;
        display: inline-block;
        border-radius: 40px;
        background-color: #2b2b2b88;
        box-shadow: 0px 0px 20px #000000;
    }
    h1 {
        font-size: 70px;
    }
    @keyframes hideDiv {
        0%,
        50% {
            opacity: 100%;
            max-width: 999px;
        }
        99% {
            opacity: 0%;
            max-width: 999px;
        }
        100% {
            opacity: 0%;
            max-width: 0px;
        }
    }
    @keyframes showDiv {
        0%,
        80% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }
    @keyframes showBG {
        0%,
        60% {
            background-position-y: +6000px;
        }
        100% {
            background-position-y: +900px;
        }
    }
    .telegram {
        transition: 0.5s;
        display: inline-block;
        border: 2px solid #0f95e2;
        border-radius: 20px;
        padding: 17px;
        background-color: #126291;
        box-shadow: 0px 0px 80px #0f95e2;
        font-size: 48px;
    }
    .telegram:hover {
        transform: scale(1.1);
        border-radius: 80px;
        background-color: #147bb6;
    }
    .zelenka {
        transition: 0.5s;
        display: inline-block;
        border: 2px solid #2bad72;
        border-radius: 20px;
        padding: 17px;
        background-color: #17573a;
        box-shadow: 0px 0px 80px #2BAD72;
        font-size: 48px;
    }
    .zelenka:hover {
        transform: scale(1.1);
        border-radius: 80px;
        background-color: #288d60;
    }
    .captchagame {
        transition: 0.5s;
        display: inline-block;
        border: 2px solid #222222;
        border-radius: 5px;
        padding: 17px;
        background-color: #444444;
        box-shadow: 0px 0px 80px #000000;
    }
    .captchagame:hover {
        transform: scale(1.1);
        border-radius: 80px;
        background-color: #5c5c5c;
    }
    .OTS {
        font-size: 25px;
        color: #00000000;
    }
}